@import '../../../styles/settings.scss';


.root {
  background-color: #4d220e;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top:0;
  left:0;
  transition:transform 0.3s ease-in-out;

}
.menu {
  overflow: hidden;
  .link{
    text-transform: uppercase;
    box-shadow: inset 0px 2px 10px 4px rgba(201,193,201,1);
    margin:5px 0px;
    text-align: center;
    padding:10px;
    display: block;
    color:white;
    text-decoration: none;
    transition: $transition;
    &:first-of-type{
      margin-top: 50px;
    }
    &:hover{
      border-bottom:1px solid white;
      border-radius: 0 24px;
      transform: scale(0.95);
    }
  }
}
